@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=DynaPuff:wght@400..700&family=Jersey+10&family=Jersey+10+Charted&family=Jersey+15&family=Jersey+20+Charted&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Manrope:wght@200..800&family=Molle&display=swap" rel="stylesheet">');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
